# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

menuconfig MUTEX
	bool "Mutex device drivers"
	help
	  This option enables the blink custom driver class.

if MUTEX

config RELAY_LEN
	int "Relay length"
	default 1
	help
	  Bit length resolution for the mutex

module = MUTEX
module-str = mutex
source "subsys/logging/Kconfig.template.log_config"

endif # BLINK
